* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    height: 100%;
}

.list-group-item, .header{
    height: 60px;
}

.form {
    position: absolute;
    right: 100px;
    bottom: 20px;
    max-width: 300px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.list {
    overflow-y: scroll;
    height: 400px;
}

.form {
    width: 300px;
}
.chat-list {
    display: flex;
    height: 431px;
}
.chat {
    display: flex;
}



.list::-webkit-scrollbar {
    width: 5.2px; 
} /* 스크롤 바 */
.list::-webkit-scrollbar-track { 
    background-color:rgb(255, 253, 253);
} /* 스크롤 바 밑의 배경 */
.list::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: #cacaca;
} /* 실질적 스크롤 바 */
.list::-webkit-scrollbar-thumb:hover {
    
    width: 12px;
    background: #a3a3a3;
} /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
.list::-webkit-scrollbar-thumb:active {
    width: 12px;
    background: #a3a3a3;
} /* 실질적 스크롤 바를 클릭할 때 */
.list::-webkit-scrollbar-button {
    display: none;
} /* 스크롤 바 상 하단 버튼 */